<!DOCTYPE html>
<html>
<head>
<style>
html{
  background: #e0e0d1;
}
h1{
  padding-top: 25vh;
  letter-spacing: 2vw;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  font-family: Nunito;
  color: #white;
}
p{
  text-align: center;
  font-size: 2vw;
  font-family: Nunito;
  color: #white9;
}
div{
  text-align: center;
}
.b{
  font-size: 2vw;
  font-family: Nunito;
  color: white;
  background: #666699;
  width: 10em;
}
.b:hover{
  background: black;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1vw;
  background-color: #666699;
  text-align: center;
  font-family: Nunito;
  color: white;
  float: left;
}
</style>
</head>
</html>
